<div id="navigation">
    <!-- Navigation Menu -->
    <ul class="navigation-menu">
      <li class="has-submenu">
        <a href="/">Home</a>
      </li>
      <li class="has-submenu">
        <a href="/shop">Shop</a>
      </li>
      <li class="has-submenu">
        <a href="/admin">Dashboard</a>
      </li>
      </li>
    </ul> 
    <!-- End navigation menu  -->
  </div>