body {
  margin: 0;
  padding: 0;
}
.main-body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .buttons {
    display: flex;
    gap: 10px;

    button {
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      cursor: pointer;
    }
  }
}
